@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
	/*Aqui se establecen margenes en 0 y los bordes en 0*/
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	/*se establece el color de fondo y la fuente para todo el cuerpo de la pagina*/
	background-color: white;
	font-family: "Roboto", sans-serif;
}

.contenedor {
	/*La propierdad display:flex sirve para establecer un contenedor 
    flexible para aplicar flexbox, flex-direction le estableces
    posciones a los elemntos si quieres que estos se coloquen uno arriba del otro
    o uno al lado del otro */

	display: flex;
	flex-direction: column;
	/* border: 1px solid black;
    width: 90%;
    margin: auto; */
	flex-wrap: wrap;
}

.encabezado {
	/*La propierdad display:flex sirve para establecer un contenedor 
    flexible para aplicar flexbox, flex-direction le estableces
    posciones a los elemntos si quieres que estos se coloquen uno arriba del otro
    o uno al lado del otro */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.cabezera {
	/*La propierdad display:flex sirve para establecer un contenedor 
    flexible para aplicar flexbox, flex-direction le estableces
    posciones a los elemntos si quieres que estos se coloquen uno arriba del otro
    o uno al lado del otro */
	display: flex;
	flex-direction: row;

	/*Con las propiedas justify-content estableces una justificacion de los elemntos
 exiten otras propiedas como: justify-items, justify-self y justify-tracks*/
	justify-content: center;
	/*Con la propiedad gap se establece una separacion entre elementos que contenga ese contenedor*/
	gap: 20px;
	/*Si se le quiere dar un borde al contenedor, con una estructura de:
 tamaño, tipo, color;*/
	border: 1px solid black;
	/*Ancho del contenedor*/
	width: 100%;
	flex-wrap: wrap;
}

.contenedor-logos {
	/*Se establece el contenedor flexible*/
	display: flex;
	flex-direction: row;
	/*ancho 100%*/
	width: 100%;
    min-height: 150px;
	/*propiedad de justify-conten con space-between para seprar elementos
    a un ancho automatico */
	justify-content: space-between;
	/*Si se le quiere dar un borde al contenedor, con una estructura de:
 tamaño, tipo, color;*/
	border: 1px solid black;
	flex-flow: row;
	flex-wrap: wrap;
}

.logo{
    width: 9%;
    margin: 10px;
    background-size: cover;
    background-position: center center;
}

.logos-redes{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
	margin-right: 20px;
	flex-wrap: wrap;
	flex-flow: row;
	
}

.estructura-redes{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50%;
	
	
}

.icono {
	min-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center; 
	
}
.icono > i{
	font-size: 30px;
}

.cabezera-main{
	/*La propierdad display:flex sirve para establecer un contenedor 
    flexible para aplicar flexbox, flex-direction le estableces
    posciones a los elemntos si quieres que estos se coloquen uno arriba del otro
    o uno al lado del otro */
	display: flex;
	flex-direction: row;

	/*Con las propiedas justify-content estableces una justificacion de los elemntos
 exiten otras propiedas como: justify-items, justify-self y justify-tracks*/
	justify-content: flex-end;
	/*Con la propiedad gap se establece una separacion entre elementos que contenga ese contenedor*/
	gap: 20px;
	/*Si se le quiere dar un borde al contenedor, con una estructura de:
 tamaño, tipo, color;*/
	border: 1px solid black;
	/*Ancho del contenedor*/
	width: 100%;
	padding-right: 20px;
}

.banner{
	border: 1px solid black;
	width: 100%;
	min-height: 300px;
	background-size: cover;
	background-position: center top;
}

.principal-inferior{
	display: flex;
	flex-direction: column;
	flex-flow: row;
	flex-wrap: wrap;
	
}

.titulo{
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 60px;
}

.titulo > i{
	font-size: 30px;
}
.titulo > h2{
	font-weight: lighter;
}

.contenedor-cursos{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	min-height: 300px;
	align-items: center;
	flex-wrap: wrap;
	
}
.estructura-cursos{
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 15%;
	max-height: 150px;
	align-items: center;
	
}

.estructura-cursos > a > img{
	width: 100%;
    background-size: cover;
    background-position: center center;
}

.estructura-cursos > h5{
	font-size: 15px;
	font-weight: lighter;
}

.estructura-cursos > p{
	font-size: 14px;
	font-weight: bold;
}

.pie-pagina{
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 40px;
}

.linea-footer{
	display: flex;
	width: 50%;
	justify-content: center;
	border-top: 1px solid black;
	align-items: center;
	
}
.linea-footer > p{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}